@page
@model AzureTeacherStudentSystem.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<a asp-page="Students/Index" class="btn btn-success">Students</a>
<a asp-page="Teachers/Index" class="btn btn-success">Teachers</a>